<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-geofence-heading" jhiTranslate="lbsLiveEnterpriseApp.geofence.home.createOrEditLabel">Create or edit a Geofence</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.fenceId" for="field_fenceId">Fence Id</label>
                    <input type="number" class="form-control" name="fenceId" id="field_fenceId"
                           formControlName="fenceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.fenceName" for="field_fenceName">Fence Name</label>
                    <input type="text" class="form-control" name="fenceName" id="field_fenceName"
                           formControlName="fenceName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.createdTime" for="field_createdTime">Created Time</label>
                    <input type="number" class="form-control" name="createdTime" id="field_createdTime"
                           formControlName="createdTime"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.modifiedBy" for="field_modifiedBy">Modified By</label>
                    <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                           formControlName="modifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.modifiedTime" for="field_modifiedTime">Modified Time</label>
                    <input type="number" class="form-control" name="modifiedTime" id="field_modifiedTime"
                           formControlName="modifiedTime"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.type" for="field_type">Type</label>
                    <input type="number" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lbsLiveEnterpriseApp.geofence.fenceCode" for="field_fenceCode">Fence Code</label>
                    <input type="text" class="form-control" name="fenceCode" id="field_fenceCode"
                           formControlName="fenceCode"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
